
.card .img img{
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}
.Home .card button{
 display: block;
 width: 25%;
background-color:#fabd16;
font-size: 11px;
font-weight: 700;
color: #142e2e;
border: none;
padding: 3px;
position: absolute;
left: 10px;
top: 13px;
}
.Home .card i{
font-size: 21px;
font-weight: 900;
position: absolute;
right: 10px;
top: 13px;
}
.Home .card .card-body{
 border-left: 5px solid #fabd16;
}

.card .card-body .price{
 font-size: 22px;
 color: #142e2e;
 font-weight: 700;
 display: block;
}
.card .card-body .card-text{
 color: grey;
 display: block;
 margin-bottom: 20px;
}
.card .card-body .time{
 color: gray;
 font-size: 11px;
 position: absolute;
 right: 10px;
 bottom: 8px;
}